# Dicts

In [2]:
import pandas as pd

## Converting data frame to dict

In [10]:
df = pd.DataFrame({
    "Fare": [4, 10, 20],
    "Sex": ["m", "f", "m"],
    "Embarked": ["S", "C", "S"]
})

display(df)

print("Default:")
display(df.to_dict())

print("Records:")
display(df.to_dict("records"))

   Fare Sex Embarked
0     4   m        S
1    10   f        C
2    20   m        S

Default:

{'Fare': {0: 4, 1: 10, 2: 20},
 'Sex': {0: 'm', 1: 'f', 2: 'm'},
 'Embarked': {0: 'S', 1: 'C', 2: 'S'}}

Records:

[{'Fare': 4, 'Sex': 'm', 'Embarked': 'S'},
 {'Fare': 10, 'Sex': 'f', 'Embarked': 'C'},
 {'Fare': 20, 'Sex': 'm', 'Embarked': 'S'}]